.conteudo-geral {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.paragrafo-blog {
    font-family: var(--fonte);
    text-align: right; 
    font-size: var(--tam-descricao-geral); 
}

@keyframes pulando {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(5px); }
    100% { transform: translateY(0); }
}

.imagem-link-blog {
    max-height: 80px;
    max-width: 80px;
    animation: pulando 1s infinite;
    border-bottom: 160px;
}

.blog{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


@media(max-width:1241px){
    .paragrafo-blog{
        font-size: var(--tam-descricao-max1241);  
    }
}


@media(max-width:1024px){
    .paragrafo-blog{
        font-size: var(--tam-descricao-max1024);  
    }
}
@media(max-width: 768px){
    .paragrafo-blog{
        font-size: var(--tam-descricao-max768);
        text-align: center;
    }
    .conteudo-geral{
        flex-direction: column;
    }
    .blog{
        justify-content: center;
    }
}
@media(max-width: 480px){
    .paragrafo-blog{
        font-size: var(--tam-descricao-max480);
        margin: 5%;
    }
    .imagem-link-blog {
        max-width: 60%;
    }

}

@media(max-width: 300px){
    .imagem-link-blog {
        max-width: 50%;
    }
}