.item button {
    display: flex;
    justify-content: center;
    font-family: var(--fonte);
    color: var(--preto);
    padding-top: 30%;
    padding-bottom: 30%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: larger;
    width: 100px;
    max-width: 100px;
    text-align: center;
    font-size: var(--tam-descricao-geral);
    padding-top: 30%;
    padding-bottom: 30%;


    @media (min-width: 1369px) {
        font-size: 1.2em;
        padding-top: 35%;
        padding-bottom: 35%;
    }
}
  
.item button:hover {
    color: var(--branco);
    background-color: var(--verde);
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

@media(max-width:1241px){
   .item button{
    font-size: var(--tam-descricao-max1241);
   }
  } 

  
@media (max-width: 900px){
    .item button {
        font-family: (--fonte);
        color: #17b755;
        background-color: #0d612d;
        padding: 0.5em 0.5em;
        border: none;
        cursor: pointer;
        font-size: var(--tam-descricao-max1024);
        font-weight: bold;
        width: 100%;
        text-align: center;
        border-bottom: #2c924c solid 2px;
    }
      
    .item button:hover {
        color: #10813c;
        background-color: white;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
    }
}
  
@media(max-width:1024px){
    .item button{
        font-size: var(--tam-descricao-max1024);
    }
  }
  
@media(max-width: 768px){
    .item button{
        font-size: var(--tam-descricao-max768);
    }
  }
  
@media(max-width: 480px){
    .item button{
        font-size: var(--tam-descricao-max480);
    }
  }

  @media(max-width: 140px){
    .item button{
        display: none;
    }
  }
