.swiper-container {
  width: 100%;
  margin-bottom: 25px;
}

.img-slider {
  width: 98%;
  height: 98%;
  border-radius: var(--raio-borda-img); 
}

.swiper{
  padding-bottom: 30px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.swipper-button{
  margin-bottom: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--branco); 
  font-size: 24px; 
  transition: color 0.3s ease;
}

.swiper-button-next:hover {
  color: var(--verde-claro); 
}
.swiper-button-prev:hover{
  color: var(--verde-claro); 
}


.swiper-pagination-bullet {
  background-color: var(--verde); 
  width: 10px; 
  height: 10px; 
  margin: 0 auto 10px; 
  z-index: 2; 
}

.swiper-pagination-bullet-active {
  background-color: var(--verde-escuro); 
  z-index: 1; 
}
