.Card {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    margin: var(--margem-entre-cards);
    width: var(--largura-cards-geral);
    overflow: hidden;
    background-color:var(--branco);
    border: 2px var(--verde) solid;
    border-radius: var(--raio-borda-cards);
    box-shadow: 0 2px 4px var(--verde-escuro);
    align-items: center;
  }


@media(max-width:1241px){
  .Card {
    width: var(--largura-cards-max1241);
    height: auto;
  }
}

@media(max-width:1024px){
.Card {
    width: var(--largura-cards-max1024);
    align-items: center;
  }
}

@media(max-width:768px){
  .Card {
      width: var(--largura-cards-max768);
      align-items: center;
    }
  }

@media(max-width:480px){
  .Card {
        width: var(--largura-cards-max480);
        align-items: center;
      }
  }
    
