.container-modal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5); 
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.conteudo-modal {
  width: 90%;
  max-width: 700px;
  margin-top: 7%;
  background-color: var(--branco); 
  padding: 20px; 
  border-radius: var(--raio-borda-cards); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  text-align: center;
}

.button-modal {
  padding: var(--tam-p-botao-geral);
  margin-top: 2%;
  /*margin-bottom: 1%;*/
  font-size: var(--tam-botao-geral);
  /*background-color: #2d6136; */
  background-color: var(--verde);
  color: var(--branco); 
  border: none;
  border-radius: var(--raio-borda-botao);
  cursor: pointer;
}

.button-modal:hover {
  background-color: var(--verde-escuro);
}

/*.titulo-modal {
  /*color: #333;*//*
  text-transform: uppercase;
  color: black;
}*/