.container-modal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5); 
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.conteudo-modal {
  width: 90%;
  max-width: 700px;
  background-color: white; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  text-align: center; 
}

.button-modal {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2d6136; 
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.titulo-modal {
  color: #333; 
}