.container-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay {
  background-color: rgb(252, 254, 255);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  width: 800px;
  height: 700px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.conteudo-modal{
    width: 90%;
    max-width: 700px;
    background-color: rgb(161, 204, 160);
    padding: 10px;
    border-radius: 5px;
}

.button-modal{
    padding: 5px;
    font-size: large;
    float: right;
    cursor: pointer;
}

.titulo-modal{
    color: rgb(28, 54, 7);
}