.turmas-container {
    background-color: white;
    height: 650px;
}

.turmas-container h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    text-align: left;
    font-size: 2.3vw;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8%;
}