.CarouselTurma {
  width: 90%;
  margin: auto;
  text-align: center;
}

.CarouselTurma .CardAluno {
  cursor: grab;
  height: 380px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1vw;
  box-sizing: border-box;
}

.CarouselTurma .CardAluno p {
  text-align: center !important;
  max-width: 180px;
  margin: auto;
}

.CarouselTurma .CardAluno img {
  padding: 10px;
  height: 300px;
  width: 200px;
  margin: auto;
  border-radius: 30px;
}

.slick-dots li button:before {
  font-size: 20px;
  color: #10813c;
  padding-top: 30px;
  cursor: pointer;
}

.slick-dots li.slick-active button:before {
  color: #10813c;
}

.ButtonsTurmas {
  margin-bottom: 30px;
}

.ButtonsTurmas * {
  display: inline-block;
  margin: 0 30px;
  padding: 12px 24px;
  background-color: #10813c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.ButtonsTurmas *:hover {
  background-color: #0f3100;
}

.CarouselTurma2017,
.CarouselTurma2018,
.CarouselTurma2019,
.CarouselTurma2022,
.CarouselTurma2023 {
  display: none;
}

.CarouselTurma2017.active,
.CarouselTurma2018.active,
.CarouselTurma2019.active,
.CarouselTurma2022.active,
.CarouselTurma2023.active {
  display: block;
}

.Show2017Carousel,
.Show2018Carousel,
.Show2019Carousel,
.Show2022Carousel,
.Show2023Carousel {
  background-color: #10813c;
}

.Show2017Carousel.selected,
.Show2018Carousel.selected,
.Show2019Carousel.selected,
.Show2022Carousel.selected,
.Show2023Carousel.selected {
  background-color: #0f3100;
}