
.img-home{
    height: 689px;
    width: 383px;
    margin-right: 150px;
    margin-top: 170px;
    float: right;
    position: relative;
    display: block;
  }


.home-container{
    background-color: #ffffff;
    background-position: 0% 0%;
    height: 767px;
    padding-left: 300px;
    padding-top: 190px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: block;
    z-index: 20;
}


.home-titulo-principal{
    font-family: "Shadows Into Light";
    font-size: 65px;
    font-weight: 500;
    line-height: 82px;
    text-decoration: none solid rgb(38,36,36);
    text-align: left;
    word-spacing: 0px;
}


.home-titulo-principal-container{
    height: 300px;
    width: 600px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: block;
    z-index: 5;
}

.button-home{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none solid rgb(38,36,36);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    word-spacing: 0px;
    
    background-color: #4633ee;
    color: #fff;
    background-position: 0% 0%;

    height: 49px;
    width: 200px;
    padding: 8px 10px 2px 9px;

    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: block;
    z-index: 7;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button-home:hover {
    background-color: #0f316e;
  }
