.div-button-home {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: row;
    /*width: 100%;*/
  }
  
.div-button-home * {
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 2.5%;
    padding: var(--tam-p-botao-geral);
    background-color: var(--verde);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    font-size: 1.2vw;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/*---------------------------------------------------------*/

.img-home img {
    padding-top: 20px;
    width: 26vw;
    height: 26vw;
    height: auto;
    animation: fade-in 2s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0% 13% 0% 15%;
    z-index: 20;
    width: auto;
}

.home-titulo {
    font-family: var(--fonte);
    font-size: 2.7vw;
    line-height: 4.5vw; 
    text-align: left;
    /*padding-left: 33%;*/
}

.container-titulo-and-button{
    padding-left: 10%;
}

@media(max-width: 1241px){
    .div-button-home * {
        padding: 19px;
        background-color: var(--verde);
        font-size: 1.5vw;
    }

    .home-container {
        padding: 0% 8% 0% 12%;
    }
    
    .img-home img {
        width: 32vw;
        height: auto;
    }
    .home-titulo {
        font-family: var(--fonte);
        font-size: 3vw;
        text-align: left;
        /*padding-left: 30%;*/
    }
}


@media(max-width: 1024px){
    .img-home img {
        width: 35vw;
        height: auto;
        /*margin-right: 10%;*/
    }
    /*.container-titulo-and-button{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }*/



    .home-container {
        /*display: block;
        text-align: center;
        flex-direction: row-reverse;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: space-between;
        background-color: var(--branco);*/
    }

    .home-titulo {
        font-size: 4vw;
        /*padding-left: 10%;*/
        /*text-align: center;
        padding: 0;
        margin-top: 0;
        margin-left:5%;
        margin-right: 5%;*/
    }

    .div-button-home{
        /*justify-content: left;*/
        /*padding-left: 10%;*/
    }

    .div-button-home * {
       font-size: 2vw;
       padding: 1.9vw;
      }
    
}

@media(max-width: 768px){
    .img-home img {
        width: 21vw;
        height: auto;
    }
    .home-container {
        padding-left: 18%;
    }

    .home-titulo {
        font-size: 2.4vw;
        line-height: 5vw;
        /*padding-left: 11%;*/
        /*margin-right: 18%;*/
    }

    .div-button-home * {
        font-size: 1.5vw;
        padding: 2.6vw;
    }
}

@media(max-width: 480px){
    .img-home img {
        width: 60%;
        height: 60%;
    }

    .home-container {
        display: block;
        text-align: center;
        flex-direction: row-reverse;
        /*width: 100%;*/
        height: auto;
        align-items: center;
        justify-content: space-between;
        background-color: var(--branco);
        padding: 8% 8% 8% 8%;
    }

    .home-titulo {
        text-align: center;
        padding-left: 0%;
        /*margin-right: 0%;*/
        font-size: 5vw;
        line-height: 10vw;
    }

    .div-button-home{
        display: flex;
        padding-left: 0%;
        justify-content: center;
    }

    .div-button-home * {
        padding: 12px;
        font-size: 3.5vw;
    }

    .container-titulo-and-button{
        padding-left: 0%;
    }
}


@media(max-width: 300px){
    .img-home img {
        width: 50%;
        height: 50%;
    }

    .home-titulo {
        padding: 0% 5%;
        font-size: 4.8vw;
    }
    .div-button-home * {
        padding: 11px;
        font-size: 3.3vw;
    }
}
