.container {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
  }
  
  .titulo {
    font-size: 24px;
  }
  
  .cards-container {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos verticalmente */
  }
  
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1024px; /* Define a largura máxima para o layout */
    margin: 0 auto; /* Centraliza o layout horizontalmente */
  }
  