.acoes-container {
    height: 89.8%;
    width: auto;
    background-color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
  }
  
  .cards-container-geral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
  }
  
  h4 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    padding-bottom: 2%;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
  }