.component_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: green solid 5px;
}

.nav_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 5em;
    font-size: larger;
}

.nav_link a{
    color: black;
    text-decoration: none;
    padding: 2em 1em;
}

.nav_link a:hover{
    color: white;
    background-color: green;
    text-decoration: none;
    transition: color .7s, background-color .7s;
}

img{
    width: 9em;
    height: 5.5em;
    padding-left: 0.8em;
    padding-top: 1.2em;
    margin: 0px;
}