.component_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: green solid 5px;
  border-bottom: rgba(0, 128, 0, 0.473) solid 5px;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  background-color: white;
  
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 4.2em;
  list-style: none;
}

.links{
  display: flex;
  flex-direction: row;
}

.logo{
  width: 9em;
  height: 5.5em;
  margin-left: 20px;
  margin-top: 6px;
}

.hamburguer_menu {
  display: none;
  border: none;
  background-color: white;
  
}

.hamburguer_menu:hover, .hamburguer_menu:focus{
  background-color: #10813c;
  transition: background-color 0.3s ease-in-out;
}

.hamburguer_menu img{
  width: 100px;
  height: 4.2em;
  padding-bottom: 1.4em;
  padding-top: 1.4em;
}

@media (max-width: 700px){

  .hamburguer_menu{
    display: block;
  }
  
}

@media (max-width: 300px) {
  .img_container {
    margin-left: -8.5%;
  }
}