
.LocalContainer{
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 26%;
  height: unset;
  justify-content: space-between;
}
.mapa{
   display:flex;
   justify-content: center;
   align-items: center;
}

iframe{
  border: 2px solid;
  border-radius: 25px;
  border-color: var(--verde-claro);
  width: 20vw;
  height: 15vw;
}


.nome-local, .descricao-local{
  font-family: var(--fonte);
  font-size: var(--tam-descricao-geral);
}

.nome-local{
  font-size: var(--tam-subtitulo-geral);
  font-weight: bold;
  margin: 0;
  
}



@media(max-width: 1241px){
  
  .nome-local, .descricao-local{
    font-size: var(--tam-descricao-max1241);
  }
}


@media(max-width:1024px){
  .LocalContainer{
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    width: 90%;
    
  }
  iframe{
    min-width: 40vw;
    height: 25vw;
  }
 
  .nome-local,.descricao-local{
    font-size: var(--tam-descricao-max1024);
  }

  /* @media (orientation: landscape) {
    .nome-local{
      font-size: 1.7vw;
    }
    .informacoes p{
      font-size: 1.6vw;
    }
    iframe{
      min-width: 25vw;
      height: 15vw;
    }
  } */
}

@media(max-width: 768px){
  .nome-local, .descricao-local{
    font-size: var(--tam-descricao-max768);
  }
  @media (orientation: landscape) {
    .nome-local{
      font-size: 1.9vw;
    }
    .descricao-local{
      font-size: 1.8vw;
    }
    iframe{
      min-width: 28vw;
      height: 18vw;
    }
  }
}

@media(max-width: 480px){
  .nome-local, .descricao-local{
    font-size: var(--tam-descricao-max480);
  }
  .mapa{
    width: 100%;
  }
  iframe{
    min-width: 50vw;
    height: 40vw;
  }
  @media (orientation: landscape) {
    .nome-local{
      font-size: 2.5vw;
    }
    .descricao-local{
      font-size: 2.4vw;
    }
    iframe{
      min-width: 25vw;
      height: 18vw;
    }
  }
}

@media(max-width: 300px){
  .nome-local, .descricao-local{
    font-size: var(--tam-descricao-max480);
  }
}