.LocalContainer{
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 26%;
  height: unset;
  justify-content: space-between;
  /*background-color: var(--branco);*/
  
}

iframe{
  border: 2px solid;
  border-radius: 25px;
  border-color: var(--verde-claro);
  overflow: hidden;
  width: 20vw;
  height: 15vw;
}

.informacoes{
  display:flex;
  flex-direction: column;
}

.nome-local{
  font-family: var(--fonte);
  font-size: var(--tam-subtitulo-geral);
  margin-bottom: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-weight: bold;
}

.informacoes p{
  font-family: var(--fonte);
  font-size: var(--tam-descricao-geral);
  margin: 2%;
  margin-bottom: 3%;

}

@media(max-width:1024px){

  .LocalContainer{
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  iframe{
    min-width: 50vw;
    height: 35vw;
  }

  .nome-local{
    font-size: var(--tam-subtitulo-max1024);
  }
  .informacoes p{
    font-size: var(--tam-descricao-max1024);
  }
}

@media(max-width: 768px){
  .nome-local{
    font-size: var(--tam-subtitulo-max768);
  }
  .informacoes p{
    font-size: var(--tam-descricao-max768);
  }
}
@media(max-width: 480px){
  .nome-local{
    font-size: var(--tam-subtitulo-max480);
  }
  .informacoes p{
    font-size: var(--tam-descricao-max480);
  }
}