
.LocalContainer{
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 26%;
  height: unset;
  justify-content: space-between;
}

iframe{
  border: 2px solid;
  border-radius: 25px;
  border-color: var(--verde-claro);
  overflow: hidden;
  width: 20vw;
  height: 15vw;
}

.informacoes{
  display:flex;
  flex-direction: column;
}

.nome-local{
  font-family: var(--fonte);
  font-size: var(--tam-subtitulo-geral);
  font-weight: bold;
}

.informacoes p{
  font-family: var(--fonte);
  font-size: var(--tam-descricao-geral);
  margin: 2%;
  margin-bottom: 3%;

}


@media(max-width: 1241px){
  .nome-local{
    font-size: var(--tam-subtitulo-max1241);
  }
  .informacoes p{
    font-size: var(--tam-descricao-max1241);
  }
}


@media(max-width:1024px){
  .LocalContainer{
    align-items: center;
    justify-content: center;
    width: 92%;
    
  }
  iframe{
    min-width: 30vw;
    height: 25vw;
  }
  .nome-local{
    font-size: var(--tam-subtitulo-max1024);
  }
  .informacoes p{
    font-size: var(--tam-descricao-max1024);
  }

  @media (orientation: landscape) {
    .nome-local{
      font-size: 1.7vw;
    }
    .informacoes p{
      font-size: 1.6vw;
    }
    iframe{
      min-width: 25vw;
      height: 15vw;
    }
  }
}

@media(max-width: 768px){
  .nome-local{
    font-size: var(--tam-subtitulo-max768);
  }
  .informacoes p{
    font-size: var(--tam-descricao-max768);
  }
  @media (orientation: landscape) {
    .nome-local{
      font-size: 1.9vw;
    }
    .informacoes p{
      font-size: 1.8vw;
    }
    iframe{
      min-width: 28vw;
      height: 18vw;
    }
  }
}

@media(max-width: 480px){
  .nome-local{
    font-size: var(--tam-subtitulo-max480);
  }
  .informacoes p{
    font-size: var(--tam-descricao-max480);
  }
}

@media(max-width: 300px){
  .nome-local{
    font-size: 5em;
  }
  .informacoes p{
    font-size: var(--tam-descricao-max480);
  }
}