.LocalContainer{
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 26%;
  height: unset;
  background-color: white;
  
}

iframe{
  border: 2px solid;
  border-radius: 25px;
  border-color:rgb(113, 194, 113);
  overflow: hidden;
  width: 20vw;
  height: 15vw;
}


.informacoes p{
  font-size: 1.3vw;
}
.nome-local{
  font-size: var(--tam-subtitulo-geral);
}
.descricao-local{
  font-size: 1.6vw;
}

@media(max-width:1024px){

  .LocalContainer{
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  iframe{
    min-width: 50vw;
    height: 35vw;
  }

  .nome-local{
    font-size: var(--tam-subtitulo-max1024);
  }

  .informacoes p{
    font-size: 2vw;
  }
}

@media(max-width: 768px){
  .nome-local{
    font-size: var(--tam-subtitulo-max768);
  }
}


@media(max-width: 480px){
  .nome-local{
    font-size: var(--tam-subtitulo-max480);
  }
}