.CardContato {
    width: 350px;
    height: unset;
    background-color:white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    color: black;
    transition: background-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    line-height: 1px;
    border: 2px rgba(0, 128, 0, 0.473) solid;
  }
  
  .CardContato:hover {
    
    box-shadow: 0px 0px 15px -5px;
  }
  .card-nome {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-top: 25px;
  }
  
  .card-descricao {
   
    text-align: center;
   
  }
  
  .card-email,
  .card-telefone {
    font-size: 16px;
    color: black;
    text-align: center;
    line-height: 20px;
    
    justify-content: center;
    
  }
  .card-telefone {
    margin-bottom: 25px;
  }
  .CardContato .card-email a{
    text-decoration: none;
    color:black;
  }

  .card-email a:hover{
    color: green;
  }
  .CardContato .card-telefone a{
    text-decoration: none;
    color: black;

  }
  .CardContato .card-telefone a:hover {

    color: green; 
  }