.CardContato {
    width: 350px;
    height: unset;
    background-color:rgb(151, 214, 151) ;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    color: black;
    transition: background-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    line-height: 1px;
  }
  
  .CardContato:hover {
    
    transform: scale(1.05);
  }
  .card-nome {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    margin-top: 25px;
  }
  
  .card-descricao {
   
    text-align: center;
   
  }
  
  .card-email,
  .card-telefone {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    line-height: 5px;
    
    justify-content: center;
    
  }
  .card-telefone {
    margin-bottom: 25px;
  }
  