/*css geral (telas acima de 1201)*/

.CardDestaque {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1%;
  width: var(--largura-cards-geral);
  overflow: hidden;
  background-color: var(--branco);
  border: 2px var(--verde) solid;
  border-radius: var(--raio-borda-cards);
  box-shadow: 0 2px 4px var(--verde-escuro); 
  animation: efeitoPulsar 5s infinite 3ms;
}

@keyframes efeitoPulsar{
  0% {
    box-shadow: 0 0 0 0.2vw var(--verde);
  }
  50% {
    box-shadow: 0 0 0 0.2vw var(--verde-escuro);
  }
  100% {
    box-shadow: 0 0 0 0 25px var(--verde);
  }
} 

.CardDestaque:hover{
  box-shadow: 0px 0px 15px -5px;
}

.nome {
  font-size: var(--tam-subtitulo-geral);
  text-align: center;
  text-transform: uppercase;
}

.descricao-card{
  font-weight: bold;
  font-size: var(--tam-descricao-geral);
  line-height: 2vw;
}


@media(max-width:1024px){
  .CardDestaque {
    width: var(--largura-cards-max1024);
    order: 0;
    align-items: center;
    margin-bottom: 20px;
    padding: 1%;
  }
  .nome {
    text-align: center;
    font-size: var(--tam-subtitulo-max1024);
    text-transform: uppercase;
    margin-bottom: 0%;
  }

  .descricao-card{
    font-size: var(--tam-descricao-max1024);
    line-height: 24px;
    
  }
  
}
@media(max-width: 768px){
  .nome{
    font-size: var(--tam-subtitulo-max768);
  }
  .descricao-card{
    font-size: var(--tam-descricao-max768);
  }

}
@media(max-width: 480px){
  .nome{
    font-size: var(--tam-subtitulo-max480);
  }
  .descricao-card{
    font-size: var(--tam-descricao-max480);
  }

}



/*@media only screen and (min-width: 320px) and (max-width: 480px){
  .Card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: unset;
    background-color:white;
    border: 2px rgba(0, 128, 0, 0.473) solid;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
    padding: 1%;
    line-height: 2px;
    order: 1;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .CardDestaque {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: unset;
    background-color:white;
    border: 2.5px rgba(0, 128, 0, 0.473) solid;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9),rgba(0, 128, 0, 0.027));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
    padding: 1%;
    line-height: 2px;
    align-items: center;
    order: 0;
    flex-grow: 0;
    margin-bottom: 20px;
    
    
  }
  .Card, .CardDestaque{
    width: 75%;
    padding: 4%;
  }
  
  .CardDestaque:hover{
  box-shadow: 0px 0px 15px -5px;
  }
  
  @keyframes efeitoPulsar{
    0% {
      box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.473);
    }
    50% {
      box-shadow: 0 0 0 10px rgba(0, 128, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 25px rgba(0, 128, 0, 0.473);
    }
  } 
  
  .CardDestaque {
    animation: efeitoPulsar 5s infinite 3ms;
  }
  
  .CardDestaque .email:hover{
    color:  #0f3100;
  }
  
  
  .Card:hover {
    box-shadow: 0px 0px 15px -5px;
  }


  .email {
    font-size: 1.2vw;
    color: black;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    background-color: #10813c;
    color: white;
    border: 'none';
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    padding: 2.1vh 1.2vh;
    margin-bottom: 1%;
    
  }
  
  
  .nome {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0%;
    font-size: 5vw;
  }
  
 
  .descricao{
    font-size: 4.5vw; 
    line-height: 24px;
  }
  .email:hover{
    color: green;
  }
  
}
@media only screen and (min-width: 481px) and (max-width: 768px){
  .Card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 82%;
    height: unset;
    background-color:white;
    border: 2px rgba(0, 128, 0, 0.473) solid;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
    line-height: 2px;
    order: 1;
    align-items: center;
    margin-bottom: 20px;
    padding: 1%;

  }
  
  .CardDestaque {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 82%;
    height: unset;
    background-color:white;
    border: 2px rgba(0, 128, 0, 0.473) solid;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9),rgba(0, 128, 0, 0.027));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
    line-height: 2px;
    order: 0;
    align-items: center;
    margin-bottom: 20px;
    padding: 1%;
    
  }
   
  
  .CardDestaque:hover{
  box-shadow: 0px 0px 15px -5px;
  }
  
  @keyframes efeitoPulsar{
    0% {
      box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.473);
    }
    50% {
      box-shadow: 0 0 0 10px rgba(0, 128, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 25px rgba(0, 128, 0, 0.473);
    }
  } 
  
  .CardDestaque {
    animation: efeitoPulsar 5s infinite 3ms;
  }
  
  .CardDestaque .email:hover{
    color:  #0f3100;
  }
  
  
  .Card:hover {
    box-shadow: 0px 0px 15px -5px;
  }
  
  
  .nome {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0%;
  }
  
  .email {
    
    color: black;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    background-color: #10813c;
    color: white;
    border: 'none';
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    padding: 1.3vh 1.2vh;
    margin-bottom: 2%; 
    
    
  }
  .descricao{
    line-height: 24px;
  }
  .email:hover{
    color: green;
  }
 
  .nome{
    font-size: 3vw;
  }
  .descricao{
    font-size: 3vw;
  }
 
  
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .Card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color:white;
    border: 2px rgba(0, 128, 0, 0.473) solid;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
    line-height: 2px;
    align-items: center;
    order: 1;
    align-items: center;
    margin-bottom: 20px;
    padding: 1%;
  }
  
  .CardDestaque {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color:white;
    border: 2.5px rgba(0, 128, 0, 0.473) solid;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9),rgba(0, 128, 0, 0.027));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
    line-height: 2px;
    align-items: center;
    order: 0;
    align-items: center;
    margin-bottom: 20px;
    padding: 1%;
  }
   
  
  .CardDestaque:hover{
  box-shadow: 0px 0px 15px -5px;
  }
  
  @keyframes efeitoPulsar{
    0% {
      box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.473);
    }
    50% {
      box-shadow: 0 0 0 10px rgba(0, 128, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 25px rgba(0, 128, 0, 0.473);
    }
  } 
  
  .CardDestaque {
    animation: efeitoPulsar 5s infinite 3ms;
  }
  
  .CardDestaque .email:hover{
    color:  #0f3100;
  }
  
  
  .Card:hover {
    box-shadow: 0px 0px 15px -5px;
  }
  
  
  .nome {
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
    margin-bottom: 0%;
  }
  
  .email {
    font-size: 1.2vw;
    color: black;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    background-color: #10813c;
    color: white;
    border: 'none';
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    padding: 1vh 2vh;
    margin-bottom: 2%; 
    
  }

  .descricao{
    font-size: 2vw;
    line-height: 24px;
    
  }

  .email:hover{
    color: green;
  }
}

/* Large devices (laptops/desktops) 
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .Card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    height: unset;
    background-color:white;
    border: 2px rgba(0, 128, 0, 0.473) solid;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
    padding: 1%;
    line-height: 2px;
  
  
  }
  
  .CardDestaque {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    height: unset;
    background-color:white;
    border: 2.5px rgba(0, 128, 0, 0.473) solid;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9),rgba(0, 128, 0, 0.027));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
    padding: 1%;
    line-height: 2px;
    
  }
   
  
  .CardDestaque:hover{
  box-shadow: 0px 0px 15px -5px;
  }
  
  @keyframes efeitoPulsar{
    0% {
      box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.473);
    }
    50% {
      box-shadow: 0 0 0 10px rgba(0, 128, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 25px rgba(0, 128, 0, 0.473);
    }
  } 
  
  .CardDestaque {
    animation: efeitoPulsar 5s infinite 3ms;
  }
  
  .CardDestaque .email:hover{
    color:  #0f3100;
  }
  
  
  .Card:hover {
    box-shadow: 0px 0px 15px -5px;
  }
  
  
  .nome {
    font-size: 2vw;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0%;
  }
  
  .email {
    font-size: 1vw;
    display: inline-block;
    justify-content: center;
    background-color: #10813c;
    color: white;
    border: 'none';
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 0 4vw;
    padding: 0.5vw;
   
    
  }
  .descricao{
    font-weight: bold;
    font-size: 2vw;
    line-height: 24px;
  }
  .email:hover{
    color: green;
  }
}


@media only screen and (min-width: 1201px) {
  .Card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: unset;
    background-color:white;
    border: 2px rgba(0, 128, 0, 0.473) solid;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
    padding: 1%;
    line-height: 2px;
  
  
  }
  
  .CardDestaque {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: unset;
    background-color:white;
    border: 2.5px rgba(0, 128, 0, 0.473) solid;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9),rgba(0, 128, 0, 0.027));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
    padding: 1%;
    line-height: 2px;
    
  }
   
  
  .CardDestaque:hover{
  box-shadow: 0px 0px 15px -5px;
  }
  
  @keyframes efeitoPulsar{
    0% {
      box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.473);
    }
    50% {
      box-shadow: 0 0 0 10px rgba(0, 128, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 25px rgba(0, 128, 0, 0.473);
    }
  } 
  
  .CardDestaque {
    animation: efeitoPulsar 5s infinite 3ms;
  }
  
  .CardDestaque .email:hover{
    color:  #0f3100;
  }
  
  
  .Card:hover {
    box-shadow: 0px 0px 15px -5px;
  }
  
  .nome {
    font-size: 1.6vw;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0%;
  }
  
  .email {
    display: inline-block;
    justify-content: center;
    background-color: #10813c;
    color: white;
    border: 'none';
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 0 4vw;
    padding: 0.5vw;
  }

  .descricao{
    font-weight: bold;
    font-size: 1.6vw;
    line-height: 24px;
  }
  .email:hover{
    background-color: #0f3100;
  }
}

/*.Card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: unset;
  background-color:white;
  border: 2px rgba(0, 128, 0, 0.473) solid;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  text-align: center;
  padding: 1%;
  line-height: 2px;


}

.CardDestaque {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: unset;
  background-color:white;
  border: 2.5px rgba(0, 128, 0, 0.473) solid;
  border-radius: 30px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9),rgba(0, 128, 0, 0.027));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  text-align: center;
  padding: 1%;
  line-height: 2px;
  
}
 

.CardDestaque:hover{
box-shadow: 0px 0px 15px -5px;
}

@keyframes efeitoPulsar{
  0% {
    box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.473);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 128, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 25px rgba(0, 128, 0, 0.473);
  }
} 

.CardDestaque {
  animation: efeitoPulsar 5s infinite 3ms;
}

.CardDestaque .email:hover{
  color:  #0f3100;
}


.Card:hover {
  box-shadow: 0px 0px 15px -5px;
}


.nome {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0%;
}

.email {
  font-size: 1vw;
  color: black;
  text-decoration: none;
  margin-bottom: 3%;
 
  
}
.descricao{
  font-weight: bold;
  font-size: 1.2vw;
  line-height: 24px;
}
.email:hover{
  color: green;
}


@media (min-width:1900px) {
  .nome{
    font-size: 1.2vw;
  }
  .email {
    font-size: 1.1vw;
  }
  .descricao {
    font-size: 1.15vw;
  }
  
}




@media (max-width:1200px){
  .Card, .CardDestaque{
    width: 28%;
  }
  .email {
    font-size: 1.5vw;
  }
  .descricao {
    font-size: 1.6vw;
  }
  .nome{
    font-size: 1.9vw;
  }

}




@media (max-width: 900px){
  .Card, .CardDestaque{
    width: 89%;
    margin: 2%;
    
    
  }
  .nome{
    font-size: 2.5vw;
  }
  .descricao{
    font-size: 2.4vw;
  }
  .email{
    font-size: 2.5vw;
  }

}
@media (max-width:700px){
  .Card, .CardDestaque{
    width: 70%;
  }
  .CardDestaque{
    order: 0;
    flex-grow: 0;
  }
  .Card{
    order: 1;
  }
  .nome{
    font-size: 3vw;
  }
  .email{
    font-size: 3.5vw;
  }
  .descricao {
    font-size: 3.6vw;
  }
}




@media (max-width: 500px){
  .nome{
    font-size: 4.7vw;
  }
  .descricao {
    font-size: 4.4vw;
  }

  .email {
    font-size: 4.3vw;
  }
  .Card, .CardDestaque{
    width: 80%;
    padding: 4%;
  }
}
@media (max-width: 400px){
  .titulo{
    font-size: 5vw;
  }
  .descricao {
    font-size: 4.7vw;
  }
  .email {
    font-size: 4.6vw;
  }
  .Card, .CardDestaque{
    width: 80%;
  }
}*/

