.CardDestaque {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: var(--margem-entre-cards);
  width: var(--largura-cards-geral);
  overflow: hidden;
  background-color: var(--branco);
  border: 2px var(--verde) solid;
  border-radius: var(--raio-borda-cards);
  box-shadow: 0 2px 4px var(--verde-escuro); 
  animation: efeitoPulsar 5s infinite 3ms;
}

@keyframes efeitoPulsar{
  0% {
    box-shadow: 0 0 0 0.2vw var(--verde);
  }
  50% {
    box-shadow: 0 0 0 0.2vw var(--verde-escuro);
  }
  100% {
    box-shadow: 0 0 0 0 25px var(--verde);
  }
} 

.CardDestaque:hover{
  box-shadow: 0px 0px 15px -5px;
}

.nome {
  font-size: var(--tam-subtitulo-geral);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2.5%;
}

.descricao-card{
  margin-bottom: 5%;
  font-weight: bold;
  font-size: var(--tam-descricao-geral);
}




@media(max-width:1221px){
  .nome {
    font-size: var(--tam-subtitulo-max1241);
  }

  .descricao-card{
    font-size: var(--tam-descricao-max1241);
    padding-bottom: 10px;
  }
}


@media(max-width:1024px){
  .CardDestaque {
    width: var(--largura-cards-max1024);
    order: 0;
    align-items: center;
  }
  .nome {
    text-align: center;
    font-size: var(--tam-subtitulo-max1024);
    text-transform: uppercase;
    margin-bottom: 0%;
  }

  .descricao-card{
    font-size: var(--tam-descricao-max1024);
  }
}

@media(max-width: 768px){
  .CardDestaque{
    width: var(--largura-cards-max768);
  }
  .nome{
    font-size: var(--tam-subtitulo-max768);
  }
  .descricao-card{
    font-size: var(--tam-descricao-max768);
  }

}
@media(max-width: 480px){
  .CardDestaque{
    width: var(--largura-cards-max480);
  }
  .nome{
    font-size: var(--tam-subtitulo-max480);
  }
  .descricao-card{
    font-size: var(--tam-descricao-max480);
  }

}