.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: var(--verde) solid 5px;
    bottom: 0;
    width: 100%;
  }

.paragrafo {
    font-family:var(--fonte);
    display: flex;
    text-align: center;
    margin-right: 5px;
    color: var(--cinza);
    align-items: flex-end;
    font-size: var(--tam-texto-footer-geral);
}

.textofooter{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkifsp{
    font-family: var(--fonte);
    font-size: var(--tam-texto-footer-geral);
    text-decoration: none;
    color: var(--cinza);
    margin: 0;
}

.linkifsp:hover{
    font-weight: bold;
}


@media(max-width:1241px){
    .paragrafo {
        font-size: var(--tam-texto-footer-max1241);
    }
    .linkifsp{
        font-size: var(--tam-texto-footer-max1241);;
    }
}



@media(max-width:1024px){
    .paragrafo {
        font-size: var(--tam-texto-footer-max1024);
    }
    .linkifsp{
        font-size: var(--tam-texto-footer-max1024);;
    }
}


@media(max-width: 768px){
    .paragrafo {
        font-size: var(--tam-texto-footer-max768);
    }
    .linkifsp{
        font-size: var(--tam-texto-footer-max768);
    }
}

@media(max-width: 480px){
    .paragrafo {
        font-size: var(--tam-texto-footer-max480);
    }
    .linkifsp{
        font-size: var(--tam-texto-footer-max480);
    }
}

@media(max-width: 300px){
    .paragrafo {
        font-size: var(--tam-texto-footer-max300);
    }
    .linkifsp{
        font-size: var(--tam-texto-footer-max300);
    }
}