.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: rgba(0, 128, 0, 0.473) solid 5px;
    border-bottom:green solid 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    margin-top: -200;
  }

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-family: Arial;
    list-style: none;
}

.item button{
    background-color: transparent; 
    border: none; 
    text-decoration: none;
    color: gray;
}

.p {
    align-items: center;
    font-size: small;
    text-align: center;
    height: 10px;
    margin-bottom: 10px;
    font-family: Arial;
    color: gray;
}
