.image-container {
    display: flex;
}

.imgcard {
    width: 100%;
    height: 100%;
    border-radius: var(--raio-borda-img) ;
    align-items: center;
}

.titulo-card {
    font-size: var(--tam-subtitulo-geral);
    font-weight: bold;
}

.paragrafo-card {
    text-align: justify;
    font-size: var(--tam-descricao-geral);   
    margin: 0;
}

.img-titulo-body-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--largura-interna);
    margin: var(--margem-dentro-cards);
}


@media(max-width:1024px){
    .titulo-card{
        font-size: var(--tam-subtitulo-max1024);  
    }
    .paragrafo-card {
        font-size: var(--tam-descricao-max1024);
        /*padding-bottom: 1%;*/
    }
}

@media(max-width: 768px){
    .titulo-card{
        font-size: var(--tam-subtitulo-max768); 
    }
    .paragrafo-card{
        font-size: var(--tam-descricao-max768);
    }
}

@media(max-width: 480px){
    .titulo-card{
        font-size: var(--tam-subtitulo-max480); 
    }
    .paragrafo-card{
        font-size: var(--tam-descricao-max480); 
    }
}