/*select --- sรณ comeca a ser usado com width<700 px, quando vira sanduiche */

.select {
    background-color: var(--verde);
    color: var(--branco);
    border: none;
    border-radius: var(--raio-borda-botao);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-bottom: var(--m-botao-bottom);
}

.select *{ /*submenu do sanduiche*/
    background-color: var(--branco);
    color: var(--preto);
}


/*carroussel*/

.carousel {
    position: relative; 
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
}

.carousel .subtitulo {
    cursor: grab;
    color: var(--preto);
    box-sizing: border-box;
}

.carousel .subtitulo p {
    text-align: center !important;
    max-width: 180px;
    margin: auto;
    font-family: var(--fonte);
    font-size: var(--tam-descricao-geral); 
}

.carousel .subtitulo img {
    height: auto;
    width: 60%;
    margin: auto;
    border-radius: var(--raio-borda-img-slider);
}

/*pontos do carousel*/

.slick-dots li button:before { 
    font-size:var(--tam-descricao-geral);
    color: var(--verde);
    cursor: pointer;
}

.slick-dots li.slick-active button:before {
    color: var(--verde);
}

/*----*/
.slider-default {
    cursor: default;
}
/*---*/


@media(max-width:1241px){
    .carousel .subtitulo p {
        font-size: var(--tam-botao-max1241);
    }

    .carousel .subtitulo img {
        width: 55%;
        height: auto;
    }
}


@media(max-width:1024px){
    .carousel .subtitulo p {
        font-size: var(--tam-botao-max1024);
    }
    .carousel .subtitulo img {
        height: auto;
        width: 60%;
    }
}

@media(max-width: 768px){
    .carousel .subtitulo p {
        font-size: var(--tam-botao-max768);
    }
    .select{
        padding: var(--tam-p-select-max768); /*ajusta os itens do sanduiche no meio*/
        font-size: var(--tam-botao-max768);
    }
}


@media(max-width:620px){
    .carousel .subtitulo img {
        width: 45%;
        height: auto;
    }
}


@media(max-width: 480px){
    .carousel .subtitulo p {
        font-size: var(--tam-botao-max480);
    }

    .select {
        padding: var(--tam-p-select-max480); /*ajusta os itens do sanduiche no meio*/
        font-size: var(--tam-botao-max480);
    }

}