.carousel-equipe {
    width: 90%;
    margin: auto;
    text-align: center;
}

.carousel-equipe .card-equipe {
    cursor: grab;
    height: 380px;
    color: black;
    box-sizing: border-box;
}

.carousel-equipe .card-equipe p {
    text-align: center !important;
    max-width: 180px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3vw;
}

.carousel-equipe .card-equipe img {
    padding: 10px;
    height: 80%;
    width: 80%;
    margin: auto;
    border-radius: 30px;
}

.slider-default {
    cursor: default !important;
}


@media(max-width:1024px){
    .carousel-equipe .card-equipe p {
        font-size: 1.8vw;
    }
    
    .carousel-equipe .card-equipe img {
        height: 80%;
        width: 80%;
    }  
}

@media(max-width: 768px){
    .carousel-equipe .card-equipe p {
        font-size: 2vw;
    }
    
}
@media(max-width: 480px){
    .carousel-equipe .card-equipe p {
        font-size: 4vw;
    }
}