.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.titulo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.5vw;
  display: block;
  text-align: center;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ancoras{
  margin-top: 106px;
  margin-bottom: 71px;
}

.container {
  background-color: #fff;
  /*min-height: 50vh;*/
  width: auto;
  width: 90%;
  margin: auto;
  /*text-align: center;*/
  padding-top: 10px;
  padding-bottom: 70px;
}



@media(max-width:1024px){
  .titulo{
    font-size: 4vw;
  }
}
@media(max-width: 768px){
  .titulo{
    font-size: 5vw;
  }
}
@media(max-width: 480px){
  .titulo{
    font-size: 7.5vw;
  }
}
