:root{
  --verde: #10813c; 
  --verde-claro: rgb(113, 194, 113);
  --verde-menu: rgba(0, 128, 0, 0.473);
  --verde-escuro: #0f3100;
  --branco: #fff;
  --preto: black;
  --cinza: gray;
  --fonte: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /*--------------*/
  --p-cima-titulo: 0px;
  --p-baixo-titulo: 1%;
  /*--------------*/
  --tam-titulo-geral: 2vw;
  --tam-titulo-max1241: 2.5vw;
  --tam-titulo-max1024: 3.8vw;
  --tam-titulo-max768: 4.5vw;
  --tam-titulo-max480: 6vw;
  /*--------------*/
  --tam-descricao-geral: 1.2vw;
  --tam-descricao-max1241: 1.6vw;
  --tam-descricao-max1024: 1.8vw;
  --tam-descricao-max768: 2.4vw;
  --tam-descricao-max480: 4vw;
  /*--------------*/
  --tam-subtitulo-geral: 1.3vw;
  --tam-subtitulo-max1241: 1.7vw;
  --tam-subtitulo-max1024: 2vw;
  --tam-subtitulo-max768: 2.5vw;
  --tam-subtitulo-max480: 4.2vw;
  /*--------------*/
  --tam-botao-home: 1.2vw;
  --tam-botao-geral:1vw;
  --tam-botao-max1241: 1.2vw;
  --tam-botao-max1024:1.6vw;
  --tam-botao-max768:2.4vw;
  --tam-botao-max480:2.9vw;
  /*--------------*/
  --tam-p-botao-geral:1vw;
  --tam-p-botao-max1241: 1.1vw;
  --tam-p-botao-max1024:1.1vw;
  --tam-p-botao-max768:1.1vw; /* alterar --tam-p-select-max768 */
  --tam-p-botao-max480:2.3vw; /* alterar --tam-p-select-max480 */
  /*--------------*/
  --tam-p-select-max768: 1.4vw 1.4vw 1.4vw 0;  
  --tam-p-select-max480: 2.5vw 2.5vw 2.5vw 0;
  /*--------------*/
  --m-botao-left: 2%;
  --m-botao-rigth: 2%;
  --m-botao-bottom: 2.5%;
  --m-botão-top: 2.5%;
  /*--------------*/
  --tam-texto-footer-geral: 0.8vw;
  --tam-texto-footer-max1241: 1.2vw;
  --tam-texto-footer-max1024: 1.8vw;
  --tam-texto-footer-max768: 2vw;
  --tam-texto-footer-max480: 2.8vw;
  --tam-texto-footer-max300: 3.2vw;
  /*--------------*/
  --largura-cards-geral: 27%;
  --largura-cards-max1241: 28%;
  --largura-cards-max1024: 50%;
  --largura-cards-max768: 70%;
  --largura-cards-max480: 78%;
  --largura-interna-cards: 90%;
  --margem-dentro-cards:5%;
  --margem-entre-cards:1%;
  /*--------------*/
  --raio-borda-img-card: 5%;
  --raio-borda-img-slider: 30px;
  --raio-borda-cards: 5%;
  --raio-borda-botao: 5px;
 }

.titulo {
  font-family: var(--fonte);
  text-transform: uppercase;
  font-size: var(--tam-titulo-geral);
  display: block;
  text-align: center;
  color: var(--preto);
  padding-top: var(--p-cima-titulo);
  padding-bottom: var(--p-baixo-titulo);
  margin:0;
}

.container {
  background-color: var(--branco);
  width: 90%;
  margin: auto;
}

#home {

padding-top: 63px;

padding-bottom: 213px;

@media(max-width: 1570px){
  padding-top: 159.5px;
  padding-bottom: 159.5px;
}

@media(max-width: 1241px){
  padding-top: 159.5px;
  padding-bottom: 159.5px;
}

@media(max-width: 1024px){
  padding-top: 130px;
  padding-bottom: 150px;
}

@media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation: portrait) {
  padding-top: 250px;
  padding-bottom: 250px;
}

@media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
  padding-top: 260px;
  padding-bottom: 260px;
}

@media(max-width: 768px){
  padding-top: 83px;
  padding-bottom: 150px;
}

@media(max-width: 480px){
  padding-top: 100px;
  padding-bottom: 202px;
}

@media(max-width: 300px){
  padding-top: 100px;
  padding-bottom: 164px;
}

}

#projeto { 

  padding-top: 95.8px;
  padding-bottom: 200px; 

  @media(max-width: 1241px){
    padding-top: 150px;
    padding-bottom: 150px;
  }
  
  @media(max-width: 1024px){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation: portrait) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  @media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  @media(max-width: 768px){ 
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media(max-width: 480px){
    padding-top: 50px;
    padding-bottom: 107px;
  }
   
  @media(max-width: 300px){
    padding-top: 100px;
    padding-bottom: 84px;
  }
}

#turmas {

  padding-top: 128.5px;
  padding-bottom: 231.5px;
  
  @media(max-width: 1241px){
    padding-top: 180px;
    padding-bottom: 180px;
  }
  
  @media(max-width: 1024px){
    padding-top: 100px;
    padding-bottom: 0px;
  }

  @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation: portrait) {
    padding-top: 130px;
      padding-bottom: 130px;
  }

  @media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
    padding-top: 130px;
      padding-bottom: 130px;
  }


  @media(max-width: 768px){
    padding-top: 50px;
    padding-bottom: 0px;
  }

  @media(max-width: 480px){
    padding-top: 50px;
    padding-bottom: 0px;
  }
  
  @media(max-width: 300px){
    padding-top: 50px;
    padding-bottom: 0px;
  }
}

#equipe {

  padding-top: 128.5px;
  padding-bottom: 231.5px;
  
  @media(max-width: 1241px){
    padding-top: 180px;
    padding-bottom: 240px;
  }
  
  @media(max-width: 1024px){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation: portrait) {
    padding-top: 40px;
    padding-bottom: 160px;
  }

  @media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
    padding-top: 40px;
    padding-bottom: 140px;
  }
  
  @media(max-width: 768px){
    padding-top: 50px;
    padding-bottom: 100px;
  }
  @media(max-width: 480px){
    padding-top: 30px;
    padding-bottom: 200px;
  }
  
  @media(max-width: 300px){
    padding-top: 30px;
    padding-bottom: 193.5px;
  }
}

#acoes {
  padding-top: 50px;
  padding-bottom: 231.5px; 

  @media(max-width: 1241px){
    padding-top: 89.5px;
    padding-bottom: 89.5px;
  }
  
  @media(max-width: 1024px){
    padding-top: 130px;
    padding-bottom: 200px;
  }

  @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation: portrait) {
    padding-top: 250px;
    padding-bottom: 250px;
  }

  @media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
    padding-top: 260px;
    padding-bottom: 240px;
  }

  @media(max-width: 768px){
    padding-top: 150px;
    padding-bottom: 200px;
  }

  @media(max-width: 480px){
    padding-top: 66px;
    padding-bottom: 172px;
  }
  
  @media(max-width: 300px){
    padding-top: 100px;
    padding-bottom: 84px;
  }
}

#contato {
  
  padding-top: 50px;
  padding-bottom: 152px;

  @media(max-width: 1241px){
    padding-top: 99px;
    padding-bottom: 99px;
  }
  
  @media(max-width: 1024px){
    padding-top: 130px;
    padding-bottom: 200px;
  }

  @media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation: portrait) {
    padding-top: 250px;
    padding-bottom: 250px;
  }

  @media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
    padding-top: 260px;
    padding-bottom: 275px;
  }

  @media(max-width: 768px){
    padding-top: 150px;
    padding-bottom: 200px;
  }

  @media(max-width: 480px){
    padding-top: 66px;
    padding-bottom: 200px;
  }
  
  @media(max-width: 300px){
    padding-top: 100px;
    padding-bottom: 84px;
  }
}

#blog {
  padding-top: 10%;
  padding-bottom: 10%;
}

/*BUTTON*/
/*------------------------------------------------------*/

button {
  font-family: var(--fonte);
  text-transform: uppercase;
}

button:hover {
  background-color: var(--verde-escuro);
}

#ancoras{
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: auto;
}

/*DIV-BUTTON*/

.div-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}

.div-button * { /*altera o botão e o select*/
  margin-left: var(--m-botao-left);
  margin-right: var(--m-botao-rigth);
  margin-bottom: var(--m-botao-bottom);
  padding: var(--tam-p-botao-geral);
  background-color: var(--verde);
  color: var(--branco);
  border: none;
  border-radius: var(--raio-borda-botao);
  font-size: var(--tam-botao-geral);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}


@media(max-width:1241px){
  .titulo{
    font-size: var(--tam-titulo-max1241);
  }
  .div-button * {
    font-size: var(--tam-botao-max1241);
    padding: var(--tam-p-botao-max1241);
    display: flex;
    align-items: center;
    justify-content: center;
  }
} 


@media(max-width:1024px){
  .titulo{
    font-size: var(--tam-titulo-max1024);
  }
  .div-button * {
    font-size: var(--tam-botao-max1024);
    padding: var(--tam-p-botao-max1024);
  }
  /* @media (orientation: landscape) {
    .titulo{
      font-size: 3.2vw;
    }
    .div-button *{
      font-size: 1.6vw;
      padding: 0.9vw;
    }
  } */
  
}

@media(max-width: 768px){
  .titulo{
    font-size: var(--tam-titulo-max768);
  }
  .div-button *{
    font-size: var(--tam-botao-max768);
    padding: var(--tam-p-botao-max768);
  }
  @media (orientation: landscape) {
    .titulo{
      font-size: 4.2vw;
    }
    .div-button *{
      font-size: 1.8vw;
      padding: 1.1vw;
    }
}
}
@media(max-width: 480px){
  .titulo{
    font-size: var(--tam-titulo-max480);
  }
  .div-button *{
    font-size: var(--tam-botao-max480);
    padding: var(--tam-p-botao-max480);
  }
  @media (orientation: landscape) {
    .titulo{
      font-size: 4.4vw;
    }
    .div-button *{
      font-size: 2.2vw;
      padding: 1.3vw;
    }
}
}
