:root{
  --verde: #10813c; 
  --verde-claro: rgb(113, 194, 113);
  --verde-menu: rgba(0, 128, 0, 0.473);
  --verde-escuro: #0f3100;
  --branco: #fff;
  --preto: black;
  --cinza: gray;
  --fonte: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /*--------------*/
  --p-cima-titulo: 0px;
  --p-baixo-titulo: 1%;
  /*--------------*/
  --tam-titulo-geral: 2vw;
  --tam-titulo-max1241: 2.5vw;
  --tam-titulo-max1024: 4vw;
  --tam-titulo-max768: 5vw;
  --tam-titulo-max480: 6vw;
  /*--------------*/
  --tam-descricao-geral: 1.2vw;
  --tam-descricao-max1241: 1.6vw;
  --tam-descricao-max1024: 1.8vw;
  --tam-descricao-max768: 2.4vw;
  --tam-descricao-max480: 4vw;
  /*--------------*/
  --tam-subtitulo-geral: 1.3vw;
  --tam-subtitulo-max1241: 1.7vw;
  --tam-subtitulo-max1024: 2.3vw;
  --tam-subtitulo-max768: 2.6vw;
  --tam-subtitulo-max480: 4.2vw;
  /*--------------*/
  --tam-botao-home: 1.2vw;
  --tam-botao-geral:1vw;
  --tam-botao-max1241: 1.2vw;
  --tam-botao-max1024:1.6vw;
  --tam-botao-max768:2vw;
  --tam-botao-max480:2.5vw;
  /*--------------*/
  --tam-p-botao-geral:1.1vw;
  --tam-p-botao-max1241: 1.1vw;
  --tam-p-botao-max1024:1.1vw;
  --tam-p-botao-max768:1.1vw; /* alterar --tam-p-select-max768 */
  --tam-p-botao-max480:2.3vw; /* alterar --tam-p-select-max480 */
  /*--------------*/
  --tam-p-select-max768: 1.1vw 1.1vw 1.1vw 0;  
  --tam-p-select-max480: 2.3vw 2.3vw 2.3vw 0;
  /*--------------*/
  --m-botao-left: 2%;
  --m-botao-rigth: 2%;
  --m-botao-bottom: 2.5%;
  --m-botão-top: 2.5%;
  /*--------------*/
  --tam-texto-footer-geral: 0.8vw;
  --tam-texto-footer-max1241: 1.2vw;
  --tam-texto-footer-max1024: 1.8vw;
  --tam-texto-footer-max768: 2vw;
  --tam-texto-footer-max480: 2.8vw;
  /*--------------*/
  --largura-cards-geral: 27%;
  --largura-cards-max1241: 28%;
  --largura-cards-max1024: 65%;
  --largura-cards-max768: 80%;
  --largura-cards-max480: 80%;
  --largura-interna-cards: 90%;
  --margem-dentro-cards:5%;
  --margem-entre-cards:1%;
  /*--------------*/
  --raio-borda-img-card: 5%;
  --raio-borda-img-slider: 30px;
  --raio-borda-cards: 5%;
  --raio-borda-botao: 5px;
 }


.titulo {
  font-family: var(--fonte);
  text-transform: uppercase;
  font-size: var(--tam-titulo-geral);
  display: block;
  text-align: center;
  color: var(--preto);
  padding-top: var(--p-cima-titulo);
  padding-bottom: var(--p-baixo-titulo);
  margin:0;
}

.container {
  background-color: var(--branco);
  width: 90%;
  margin: auto;
}


/*BUTTON*/
/*------------------------------------------------------*/

button {
  font-family: var(--fonte);
  text-transform: uppercase;
  /*white-space: nowrap;*/
  /*word-spacing: 0px;*/
  /*background-position: 0% 0%;*/
}

button:hover {
  background-color: var(--verde-escuro);
}

/*DIV-BUTTON*/

.div-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}

.div-button * { /*altera o botão e o select*/
  /*display: inline-block;*/
  margin-left: var(--m-botao-left);
  margin-right: var(--m-botao-rigth);
  margin-bottom: var(--m-botao-bottom);
  padding: var(--tam-p-botao-geral);
  background-color: var(--verde);
  color: var(--branco);
  border: none;
  border-radius: var(--raio-borda-botao);
  font-size: var(--tam-botao-geral);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}


@media(max-width:1241px){
  .titulo{
    font-size: var(--tam-titulo-max1241);
  }
  .div-button * {
    font-size: var(--tam-botao-max1241);
    padding: var(--tam-p-botao-max1241);
    display: flex;
    align-items: center;
    justify-content: center;
  }
} 


@media(max-width:1024px){
  .titulo{
    font-size: var(--tam-titulo-max1024);
  }
  .div-button * {
    font-size: var(--tam-botao-max1024);
    padding: var(--tam-p-botao-max1024);
  }
  
}

@media(max-width: 768px){
  .titulo{
    font-size: var(--tam-titulo-max768);
  }
  .div-button *{
    font-size: var(--tam-botao-max768);
    padding: var(--tam-p-botao-max768);
  }
}
@media(max-width: 480px){
  .titulo{
    font-size: var(--tam-titulo-max480);
  }
  .div-button *{
    font-size: var(--tam-botao-max480);
    padding: var(--tam-p-botao-max480);
  }
}
