.card-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: 100%;
    overflow: hidden;
    border: 2px rgba(0, 128, 0, 0.473) solid;
    border-radius: 5%;
}

.image-container {
    display: flex;
}

.imgcard {
    width: 90%;
    height: 90%;
    border-radius: 5%;
    align-items: center;
    margin: 5%;
}

.card-content {
    margin-top: 1%;
    margin-left: 6%;
    margin-right: 6%;
}

.titulo-card {
    text-align: center;
    font-weight: bold;
}

.paragrafo-card {
    margin: 1%;
    padding-bottom: 5%;
    text-align: justify;
    font-size: 1vw;

}

.card-title {
    margin-bottom: 1%;
}

@media (max-width: 1024px){
    .paragrafo-card {
        font-size: 1.6vw;
    }
}


@media (max-width: 700px) {
    .card-container {
      align-items: center;
      width: 70%;
      height: auto;
      margin-bottom: 28px;
      margin-left: -13%;
    }

    .card-title {
        font-size: 3vw;
    }

    .paragrafo-card {
        text-align: justify;
        font-size: 3vw;
        line-height: 2;
        word-spacing: normal;
    }
    
    .imgcard {
        width: 90%;
        height: 90%;
        border-radius: 5%;
        align-items: center;
        margin: 5%;
    }
  }
  


  @media (max-width: 500px) {
    .paragrafo-card {
        font-size: 4.5vw;
    }

    .card-title {
        font-size: 5vw;
    }

    .card-container {
        width: 100%;
      }
}