.card-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-color: white;
    width: 25%;
    height: 100%;
    overflow: hidden;
    border: 2px rgba(0, 128, 0, 0.473) solid;
    border-radius: 5%;
    align-items: center;
    justify-content: space-between;
}

.image-container {
    display: flex;
}

.imgcard {
    width: 90%;
    height: 90%;
    border-radius: 5%;
    align-items: center;
    margin: 5%;
}

.card-content {
    margin-top: 1%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.titulo-card {
    font-size: 1.3vw;
    text-align: center;
    font-weight: bold;
}

.paragrafo-card {
    text-align: justify;
    font-size: 1.2vw;    /*fonte size alinhada com a .paragrafo-blog em 'blog.css' */
}

.card-body{
    max-width: 85%;
}

.titulo-card {
    margin-bottom: 5%;
    font-size: 1.3vw;
}


@media(max-width:1024px){
    .titulo-card{
        font-size: 2.3vw;  
    }
    .paragrafo-card {
        font-size: 2.2vw;   /*fonte size alinhada com a .paragrafo-blog em 'blog.css' */
        padding-bottom: 1%;
    }
    .card-container{
        align-items: center;
        width: 85%;
        height: auto;
        margin-bottom: 28px;
    }
}

@media(max-width: 768px){
    .titulo-card{
        font-size: 2.6vw; 
    }
    .paragrafo-card{
        font-size: 2.5vw; /*fonte size alinhada com a .paragrafo-blog em 'blog.css' */
    }
}

@media(max-width: 480px){
    .card-title{
        font-size: 3.5vw; 
    }
    .paragrafo-card{
        font-size: 3.5vw;  /*fonte size alinhada com a .paragrafo-blog em 'blog.css' */
    }
}