@media only screen and (min-width: 320px) and (max-width: 480px){
    .card-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        overflow: hidden;
        border: 2px rgba(0, 128, 0, 0.473) solid;
        border-radius: 3%;
        width: 85%;
        align-items: center;
        height: auto;
        margin-bottom: 28px;
    }
    
    .imgcard {
        width: 90%;
        height: 100%;
        border-radius: 5%;
        align-items: center;
        margin: 5%;
    }
    
    .card-content {
        margin-top: 2%;
        margin-left: 6%;
        margin-right: 6%;
    }
    
    .titulo-card {
        text-align: center;
        font-weight: bold;
        font-size: 6vw;
    }
    
    .paragrafo-card {
        margin: 1%;
        padding-bottom: 2%;
        text-align: justify;
        font-size: 5vw;
        word-spacing: normal;
    }
    
    .card-title {
        margin-bottom: 2%;
    }
    
    .card-button {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        line-height: 25px;
        padding: 10px 12px;
        margin-bottom: 2%;
    }
    
    
    .card-button * {
        background-color: #10813c;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
        font-size: 16px;
        line-height: 25px;
        padding: 10px 12px;
    }
    
    .selectcard-button {
        display: inline-block;
        margin: 0 3vw;
        padding: 4.2vw 8.4vw;
        background-color: #10813c;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .card-button *:hover {
        background-color: #0f3100;
    }
    
    .card-button .selected {
        background-color: #0f3100;
    }

      
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .card-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        overflow: hidden;
        border: 2px rgba(0, 128, 0, 0.473) solid;
        border-radius: 5%;
        align-items: center;
        width: 82%;
        height: auto;
        margin-bottom: 28px;
    }
    
    
    .image-container {
        display: flex;
    }
    
    .imgcard {
        width: 90%;
        height: 90%;
        border-radius: 5%;
        align-items: center;
        margin: 5%;
        
    }
    
    .card-content {
        margin-left: 6%;
        margin-right: 6%;
    }
    
    .titulo-card {
        text-align: center;
        font-weight: bold;
        font-size: 3vw;
    }
    
    .paragrafo-card {
        margin: 1%;
        padding-bottom: 2%;
        text-align: justify;
        font-size: 3vw;
        word-spacing: normal;
    }
    
    .card-title {
        margin-bottom: 2%;
    }
    
    .card-button {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        line-height: 25px;
        padding: 10px 12px;
        margin-bottom: 2%;
    }
    
    
    .card-button * {
        background-color: #10813c;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
        font-size: 18px;
        line-height: 25px;
        padding: 1.2vh 1vh;
    }
    
    .selectcard-button {
        display: inline-block;
        margin: 0 3vw;
        padding: 4vw 8vw;
        background-color: #10813c;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .card-button *:hover {
        background-color: #0f3100;
    }
    
    .card-button .selected {
        background-color: #0f3100;
    }


}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .card-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        overflow: hidden;
        border: 2px rgba(0, 128, 0, 0.473) solid;
        border-radius: 3%;
        align-items: center;
        margin-bottom: 28px;
        width: 70%;
    }
    
    .imgcard {
        width: 90%;
        height: 90%;
        border-radius: 5%;
        align-items: center;
        margin: 4%;
    }

    .card-body{
        height: 5rem;
    }
    
    .card-content {
        margin-left: 6%;
        margin-right: 6%;
    }
    
    .titulo-card {
        text-align: center;
        font-weight: bold;
        font-size: 2.2vw;


    }
    
    .paragrafo-card {
        margin: 1%;
        padding-bottom: 2%;
        text-align: justify;
        font-size: 2vw;
        word-spacing: normal;
    }
    
    .card-title {
        margin-bottom: 2%;
    }
    
    .card-button {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 5%;
        padding: 10px 12px;
    }
    
    
    .card-button * {
        display: inline-block;
        margin-top: 3vw;
        background-color: #10813c;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
        padding: 2vh 3vh;
    }
    
    .selectcard-button {
        display: inline-block;
        margin: 0 3vw;
        padding: 4.2vw 8.4vw;
        background-color: #10813c;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .card-button *:hover {
        background-color: #0f3100;
    }
    
    .card-button .selected {
        background-color: #0f3100;
    }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .card-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 28%;
        height: 100%;
        overflow: hidden;
        border: 2px rgba(0, 128, 0, 0.473) solid;
        border-radius: 3%;
        align-items: center;
    }
    
    .imgcard {
        width: 90%;
        height: 90%;
        border-radius: 5%;
        align-items: center;
        margin: 5%;
    }

    .card-body{
        height: 17rem;
    }
    
    .card-content {
        margin-top: 1%;
        margin-left: 6%;
        margin-right: 6%;
    }
    
    .titulo-card {
        text-align: center;
        font-weight: bold;
    }
    
    .paragrafo-card {
        margin: 1%;
        padding-bottom: 2%;
        text-align: justify;
        font-size: 1.8vw;
    }
    
    .card-title {
        margin-bottom: 2%;
        font-size: 1.5vw;
    }
    
    .card-button {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 5%;
        height: 100%;
    }
    
    
    .card-button * {
        display: inline-block;
        margin: 0 3vw;
        padding: 1vw 2vw;
        background-color: #10813c;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }
    
    .selectcard-button {
        display: inline-block;
        margin: 0 3vw;
        padding: 4.2vw 8.4vw;
        background-color: #10813c;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .card-button *:hover {
        background-color: #0f3100;
    }
    
    .card-button .selected {
        background-color: #0f3100;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
    .card-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 25%;
        height: 100%;
        overflow: hidden;
        border: 2px rgba(0, 128, 0, 0.473) solid;
        border-radius: 3%;
        align-items: center;
    }
    
    .imgcard {
        width: 90%;
        height: 90%;
        border-radius: 5%;
        align-items: center;
        margin: 5%;
    }

    .card-body{
        height: 16rem;
    }
    
    .card-content {
        margin-left: 6%;
        margin-right: 6%;
    }
    
    .titulo-card {
        text-align: center;
        font-weight: bold;
    }
    
    .paragrafo-card {
        margin: 1%;
        padding-bottom: 2%;
        text-align: justify;
        font-size: 1.2vw;
    }
    
    .card-title {
        margin-bottom: 2%;
        font-size: 1.2vw;
    }
    
    .card-button {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 5%;
        height: 100%;
    }
    
    
    .card-button * {
        display: inline-block;
        margin: 0 3vw;
        padding: 1vw 2vw;
        background-color: #10813c;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }
    
    .selectcard-button {
        display: inline-block;
        margin: 0 3vw;
        padding: 4.2vw 8.4vw;
        background-color: #10813c;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .card-button *:hover {
        background-color: #0f3100;
    }
    
    .card-button .selected {
        background-color: #0f3100;
    }
}


