.mapas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 5%;
  flex-wrap: wrap;
  

}
.container-mapa-mobile{
  display: flex !important;
  justify-content: center;
}
.locais-container{
  width: 90%;
  margin: auto;
  align-items: center;
}

@media(max-width:1024px){
  .locais-container{
    width: 90%;
    margin: auto;
    align-items: center;
  }
}
@media(max-width: 300px) {
  .locais-container{
    width: 80%;
    margin: auto;
    align-items: center;
  }
}

