.mapas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
}


@media(max-width:1024px){
  .container-mapa-mobile{
    display: flex !important;
    justify-content: center;
  }
  .locais-container{
    width: 90%;
    padding: 20px;
    margin: auto;
  }
}

