.conteudo{
    display: flex;
    flex-direction: row;
}

.img-container img {
    width: 40em;
    height: 30em;

    border-right: solid green 4px;
    animation: fade-in 1s;
}

.projeto-titulo-container h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.5vw; 
    display: block;
    text-align: center;
    font-weight: lighter;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.descricao-projeto{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3vw;
    line-height: 1.8vw;
    text-align: left;
    word-spacing: 0.2vw;
    text-align: justify;

    width: 45em;

    margin-left: 1em;
    margin-right: 2em;
}

