.projeto__conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    margin-left: 6%;
    margin-right: 6%;
}

.projeto__descricao{
    font-size: var(--tam-descricao-geral);
    line-height: 2.5vw;
    text-align: justify;
}

.projeto__imagens {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 60%;
}

.projeto__imagens img {
    border-right: solid green 4px;
    margin-bottom: 3%;
    height: 14vw;
}

.div-descricao {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}


@media(max-width: 1241px){
    .projeto__imagens img {
        height: 18vw;
    }

    .projeto__descricao{
        font-size: var(--tam-descricao-max1241);
        line-height: 2.5vw;
        text-align: justify;
    }
    .projeto__conteudo{
        margin-left: 3%;
        margin-right: 3%;
    }
}



@media(max-width: 1024px){
    .projeto__conteudo {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projeto__descricao{
        font-size: var(--tam-descricao-max1024);
        line-height: 3.3vw;
    }

    .div-descricao {
        max-width: 70%;
    }

    .projeto__imagens {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        width: 100%;
    }

    .projeto__imagens img { 
        width: 70%;
        height: 100%;
        box-shadow: 3px 2px 2px black;
       
    }
}

@media(max-width: 768px){
    .projeto__descricao{
        font-size: var(--tam-descricao-max768);
    }
    .projeto__imagens img {
        height: 36vw;
    }
}


@media(max-width:480px){
    .projeto__descricao{
        font-size: var(--tam-descricao-max480);
        line-height: 4.9vw;
        
    }
    .projeto__imagens img:nth-child(1) {
        display: none;
      }
}