.projeto-container{
    padding-top: 10px;
    padding-bottom: 40px;
}

.conteudo{
    display: flex;
    flex-direction: row;
    padding:0px 4.5% 0px 0px;
    align-items: center;
    margin: 3%;
}


.img-container img {
    width: 100%;
    max-width: 40em;
    width: 30em;
    height: auto;
    border-right: solid green 4px;
    animation: fade-in 1s;
    padding-left: 10%;
}


.projeto-titulo-container h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.5vw; 
    display: block;
    text-align: center;
    font-weight: lighter;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.descricao-projeto{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4vw;
    line-height: 1.8vw;
    width: 100%;
    max-width: 45em;
    word-spacing: 0.2vw;
    text-align: justify;
}

.texto-proj{
    text-indent: 5%;
}

@media (max-width: 1500px){
    .img-container img {
        width: 25em;
    }
    .conteudo{
        padding:0px 3% 0px 0px;
    }

}

@media (max-width: 1300px){
    .img-container img {
        max-width: 50em;
        width: 22em;
        margin-top: 5%;
    }

    .descricao-projeto{
        font-size: 1.4vw;
        line-height: 3vw;
    }

    .projeto-titulo-container h3{
        font-size: 3vw;
        margin-bottom: 5px;
    }
}

@media (max-width: 1200px){
    .img-container img {
        max-width: 50em;
        width: 22em;
        margin-top: 1%;
    }
    .descricao-projeto{
        font-size: 1.7vw;
    }
    .conteudo{
        display:flex;
        align-items: center;
        justify-content: center;
        padding:0px 4% 0px 0px;
    }
    

}

@media (max-width: 1000px){
    .descricao-projeto{
        font-size: 1.9vw;
        line-height: 4.2vw;
    }

    .img-container img{
        padding-left: 0%;
    }
}

@media (max-width: 912px){
    .descricao-projeto{
        font-size: 1.6vw;
        line-height: 3vw;
        padding-left: 1%;
    }

   .conteudo{
    padding-left: 3%;
    padding-right: 3%;
   }
}

@media (max-width: 900px){
    .descricao-projeto{
        font-size: 1.9vw;
    }
    .conteudo{
        display:flex;
        padding: 0%;
        align-items: center;
        justify-content: center;
        padding: 3%;
    }
    .descricao-projeto{
        padding-left: 3%;
    }
    
}

@media (max-width: 700px) {
    .conteudo{
        padding-right: 0%;
    }

    .projeto-container{
        margin-left: 1%;
        margin-right: 5%;
    }

    .conteudo{
        display: flex;
        flex-direction: column;
    }

    .img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .img-container img {
        border-right: none;
        max-width: 100%;
        width: 40em;
        height: auto;
    }
  
    .projeto-titulo-container h3 {
      font-size: 10vw;
      padding-left: 4%;
      padding-top: 4%;
    }

    .descricao-projeto {
        font-size: 3.5vw;
        line-height: 2;
        word-spacing: normal;
        width: 100%;
        margin-left: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10%;
    }

    .descricao-projeto p {
        margin: 0px;
        padding: 0px;
        margin-bottom: 4%;
        text-indent: 0px;
    }

}

@media (max-width: 500px) {
    .conteudo{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
  
    .descricao-projeto {
        font-size: 4.5vw;
    }  
}
@media (max-width: 400px){
    .conteudo{
        padding: 0% 0% 2% 2%;
    }
    .img-container{
        padding-left: 2.4%;
    }
}

@media (max-width: 300px){
    .img-container img {
        max-width: 100%;
        height: auto;
    }

    .descricao-projeto{
        font-size: 5vw;
        line-height: 2;
        margin-left: 0.2%;
    }
}
      